@import "tailwindcss";.typing-effect {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white; /* Cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor Blink Animation */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.testimonial-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0; /* Adjust spacing as needed */
  /* background : linear-gradient(to bottom, #f25a97, #fffafc, #edf9ff); */
  /* background-color: #fffafc; */
  margin-bottom: 0%;
}
.benefits-section {
  margin-top: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0%;
 /* Adjust spacing as needed */
  /* background-color : #edf9ff; */
  /* background : linear-gradient(to bottom, #edf9ff); */
}
.sections {
  background : linear-gradient(to bottom, #ff92be,   #edf9ff,  #edf9ff);

}

.faq-section {
  margin-top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* Adjust spacing as needed */
  /* background-color : #edf9ff; */
  background : linear-gradient(to bottom, #edf9ff, #edf9ff, #ffd1e3, #fecbdf);
}
